<ion-header class="bar-stable">
   <h1>Character List</h1>
   <ion-buttons>
      <button (click)="getAllUnits()">Refresh</button>
   </ion-buttons>
</ion-header>
<ion-content>
   <div class="row header">
      <div class="col">Name</div>
      <div class="col">Stars</div>      
      <div class="col">Atk</div>
      <div class="col">Hp</div>
      <div class="col">Rcv</div>      
   </div>
   <div class="row" *ngFor="let character of characterListAsync | async">
      <div class="col"><a (click)="showCharDetails(character)">{{character.name}}</a></div>
      <div class="col">{{character.stars}}</div>      
      <div class="col">{{character.maxATK}}</div>
      <div class="col">{{character.maxHP}}</div>
      <div class="col">{{character.maxRCV}}</div>      
   </div>
</ion-content>